html,
body {
	margin: 0;
	padding: 0;
}

* {
	-webkit-tap-highlight-color: transparent;
	
	user-select: none;
	pointer-events: none;
	box-sizing: border-box;
	cursor: default;
}


#body {
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: var(--color-bg-body);
	overflow: hidden;
	position: relative;
	display: flex;
}

.wrapper {
	width: 100%;
	height: 100%;
	max-height: 100vh;
	
	font-family: 'Roboto', sans-serif;
	font-size: .875rem;
	line-height: 1.5;
	
	color: var(--color-primary);
	background-color: var(--color-bg-wrapper);
	
	position: relative;
	overflow: hidden;
}

@media screen and (min-width: 48rem) {
	.wrapper {
		max-width: 40rem;
		max-height: 60rem;
		background-color: #FFF;
		box-shadow: 0 1rem 2.5rem rgba(0,0,0, .02),
		            0 1rem .75rem rgba(0,0,0, .01);
	}
}

.header {
	padding-top: 1.25rem;
}

.side {
	padding-top: .375rem;
	padding-right: .5rem;
	padding-left: 1.5rem;
	display: flex;
}

.main {
	padding-bottom: .0625rem;
	min-height: calc(100% - 8rem);
	max-height: calc(100% - 8rem);
	pointer-events: all;
	overflow-x: hidden;
	overflow-y: auto;
}

.main::-webkit-scrollbar {
	width: 0;
}

.footer {
	max-height: 0;
	position: relative;
}
