:root {
	--color-bg-body    : #FAFAFA;
	--color-bg-wrapper : #FFFFFF;

	--color-primary    : rgb(66, 66, 66);
	--color-primary-75 : rgba(66, 66, 66, .75);
	
	--color-secondary    : rgb(189, 189, 189);
	--color-secondary-10 : rgba(189, 189, 189, .1);
	--color-secondary-50 : rgba(189, 189, 189, .5);
	--color-secondary-75 : rgba(189, 189, 189, .75);
	
	--color-accent       : rgb(239, 84, 80);
	--color-accent-hover : rgb(229, 115, 115);
	--color-accent-50    : rgba(239, 84, 80, 0.5);

	--anim-duration : .3s;
	--anim-function : ease;
}
